// colors
$borderColor = #DEDEDE
$contentColor = #3A3A3A
$titleColor = #2A2A2A
$subTitleColor = #3A3A3A
$lineTitleColor = #4C9FFD

//paddings
$borderPadding = 200px

body
  font-family "Montserrat",sans-serif,"PingFangSC-Light", sans-serif !important



@media (max-width: 1200px) {
  $borderPadding  50px
}
