 @import '~assets/styles/config.styl'

// banner Area
.el-menu.el-menu--horizontal
	border-bottom none
.el-menu--horizontal
	height 59px
	.el-menu-item:hover 
		background none !important
		color #FF7D00 !important
	.el-menu-item
		padding 0 !important
		margin 0 15px !important
		height 50px !important
		font-size 17px
		font-family "Montserrat",sans-serif,"PingFangSC-Light", sans-serif !important
		a 
			text-decoration none
			font-size 15px
		

.el-menu--horizontal>.el-menu-item.is-active
	color #FF7D00
	border-bottom 2px solid #FFB000
	a
		color #FF7D00
.el-menu--horizontal>.el-submenu
	font-size 15px
.el-menu--horizontal>.el-submenu .el-submenu__title:hover
	background none !important
	color #FF7D00 !important

.el-menu--horizontal>.el-submenu .el-submenu__title
	height 50px
	font-size 15px
	padding 0
	margin 0 20px

.el-menu--horizontal .el-menu .el-menu-item.is-active, .el-menu--horizontal .el-menu .el-submenu.is-active>.el-submenu__title
	color #FF7D00  !important

.el-menu--horizontal>.el-submenu.is-active .el-submenu__title
	border-bottom none
	color #FF7D00
.el-submenu.is-active .el-submenu__title
	border-bottom none





	